html {
	color: var(--color-fg);
	background-color: var(--color-bg);
	font: 2vw "Victor Mono", monospace;
	align-items: center;
	justify-content: center;
	display: flex;
	height: 100%;
}

a { 

	color: var(--color-fg);
	text-decoration: none;
}

body {
	padding: 2em;
}

.main {
    color: #fb4934;
    display: flex;
}

.nitter, .youtube, .libreddit, .github {
	box-shadow:  var(--color-bg-dark) 9px 7px 0px;
	background-color: var(--color-bg-soft);
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	margin: 10px;
	font-size: calc(13px + 0.5vw);
}

li { 
	margin: 13px 0 ;
}

